<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partier/css/bootstrap.ejs') %>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User List Admin</title>
</head>

<body>
    <%- include('./components/naveBar.ejs') %>
        <div class="container mt-4">
            <% if (userList?.length) { %>
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <h4>User List ( Admin )</h4>
                    </div>
                </div>
                <div class="row">
                    <% userList.forEach(userDetail=> { %>
                        <div class="col-12">
                            <div class="card border border-secondary rounded mb-1">
                                <div class="row g-0 justify-content-center align-items-center">
                                    <div class="col">
                                        <div class="card-body py-1">
                                            <h6 class="card-title">
                                                <%= userDetail.fullName %>
                                                <% if (userDetail.role == 'admin') { %>
                                                    <span class="float-end badge rounded-pill text-bg-primary"><%= userDetail.role %></span>
                                                <% } %>
                                            </h6>
                                            <p class="card-text">
                                                <small class="text-body-secondary">
                                                    <%= userDetail.email %>
                                                </small>
                                                <small class="text-body-secondary float-end">
                                                    <%= new Date(userDetail.createdAt).toLocaleDateString('en-GB') %>
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-auto text-center my-auto mx-2 pb-2">
                                        <% if (userDetail.blocked) { %>
                                            <div class="border border-secondary text-body-secondary p-1 rounded">
                                                Blocked
                                            </div>
                                        <% } else { %>
                                            <a class="btn btn-outline-primary btn-sm rounded"
                                            href="/admin/block/<%= userDetail._id %>">Block</a>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <% } else { %>
                    <div class="row vh-100">
                        <div class="col-12 text-center">
                            <h4>There is no user available.</h4>
                        </div>
                    </div>
                    <% } %>
        </div>
        <%- include('./partier/js/bootstrap.ejs') %>
</body>

</html>